html {
    font-size: 42.6px;
}

/*安卓的尺寸已iphone5的尺寸为基础尺寸*/
/* iphone4*/
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
    html {
        font-size: 42.6px !important
    }
}

/* iphone5*/
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    html {
        font-size: 42.6px !important
    }
}

/* iphone6竖屏*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    html {
        font-size: 50px !important
    }
}

/* iphone6 plus竖屏*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    html {
        font-size: 55px !important
    }
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    width: 0;
}

.e-huakuan-table {
    width: 100%;
    margin: 0 auto;
}

.e-huakuan-table th {
    background: #004974;
    color: #fff;
    text-align: center;
    height: 30px;
    border: 1px solid #004974;
}

.e-huakuan-table td {
    background: #fff;
    text-align: left;
    height: 30px;
    border: 1px solid #ccc;
}

.tip {
    display: -webkit-box;
    z-index: -1;
    position: relative;
    overflow: visible;
}

body, button, a, input {
    font-family: 'PingFang SC', 'STHeiti', 'Microsoft YaHei', Helvetica, Arial, sans-serif
}

/*html, body, [m-role="page"] {*/
/*height: 100%;*/
/*overflow: auto;*/
/*}*/

/*.m-bg-3{ background-color: #F3F3F3;}*/
/*[m-role="UINavigationBar"],*/
[m-role='UINavigationBar'] .UINavigationBarRoom {
    background: #157fd0;
}

[m-role='UINavigationBar'] .UINavigationBarRoom {
    border-bottom: none;
}

[m-role='UINavigationBar'] .UINavigationBarRoom > [m-role='title'] {
    font-size: 0.36rem;
    color: #fff;
    font-weight: normal;
}

[m-role='UINavigationBar'] .UINavigationBarRoom > [m-role='right'] > [m-role='UIButton'] {
    font-size: 12px;
    color: #fff;
    font-weight: normal;
}

[m-role='UITableView'][m-style='grouped'] > dl {
    margin-bottom: 0;
    border-top-color: #eaeaea;
    border-bottom-color: #eaeaea;
}

[m-role='UITableView'] > dl > dd:after {
    left: 0;
}

[m-role="UIButton"].btn-load-more {
    font-weight: normal;
    border: none;
    background: none;
    color: #999;
    text-shadow: none;
    -webkit-box-shadow: none;
}

[m-role="UIBottomBar"] [m-role="UISegment"] li[m-active='yes'],
[m-role="UINavigationBar"] [m-role="UISegment"] li[m-active='yes'],
[m-role="UIBottomBar"] [m-role="UISegment"] li[m-active='vir-yes'],
[m-role="UINavigationBar"] [m-role="UISegment"] li[m-active='vir-yes'],

[m-role='UIBottomBar'] .UIBottomBarRoom {
    background: #fff;
}

[m-role='UIBottomBar'] {
    position: relative;
}

[m-role='UITableView'] > dl > dd {
    border-bottom: 1px solid #eaeaea;
}

[m-role="UISegment"] li[m-active='yes'] {
    background-color: #fff;
}

.UITableViewSectionHeader, [m-role='UITableView'] > [m-role='header'] {
    font-weight: normal;
    font-family: "微软雅黑", arial, "宋体", sans-serif;
    padding: 0;
    background-color: transparent;
    color: #343e5b;
    border: 0;
    min-height: 30px;
    display: -webkit-box;
    -webkit-box-align: center;
}

.font-10 {
    font-size: 0.2rem;
}

.font-11 {
    font-size: 0.22rem;
}

.font-12 {
    font-size: 0.24rem;
}

.font-14 {
    font-size: 0.28rem;
}

.font-15 {
    font-size: 0.30rem;
}

.font-16 {
    font-size: 0.32rem;
}

.font-18 {
    font-size: 0.36rem;
}

.font-21 {
    font-size: 0.42rem;
}

.font-24 {
    font-size: 0.48rem;
}

.font-30 {
    font-size: 0.6rem;
}

.font-34 {
    font-size: 0.68rem;
}

.font-38 {
    font-size: 0.76rem;
}

.font-40 {
    font-size: 0.8rem;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal;
}

/*宽度*/
.w85 {
    width: 1.7rem;
}

/*swiper样式*/
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.swiper-container-multirow > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-fles-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto
}

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto
}

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: 1
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fd6749
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-container-vertical > .swiper-pagination {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate(0, -50%);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
    margin: 5px 0;
    display: block
}

.swiper-container-horizontal > .swiper-pagination {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
    margin: 0 3px
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-coverflow .swiper-wrapper {
    -ms-perspective: 1200px
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube {
    overflow: visible
}

.swiper-container-cube .swiper-slide {
    pointer-events: none;
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px)
}

.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow {
    z-index: 0
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg)
    }
}

.swiper-wrapper {
    background-color: white;
}

/*----------UISplit-----------*/
[m-role='split'] {
    height: 0.1rem;
    overflow: hidden
}

[m-role='UITableView'] > dl > dd > .UITableViewArrow {
    background-color: transparent;
}

[m-role='UINavigationBar'] [m-role='UIButton'] {
    -webkit-box-shadow: none;
    background: none;
    height: 0.82rem;
    border: none;
    border-radius: 0;
    margin: 0;
    font-weight: normal;
    font-size: 14px
}

[m-role='UINavigationBar'] [m-role='UIButton'][m-size='min'] {
    min-width: 30px;
}

/*底部公共*/

.icon-b {
    width: 0.70rem;
    height: 0.70rem;
    background: url(images/bar-icon.png) no-repeat;
    background-size: 6.02rem 2rem;
    display: block;
}

/*.menu-bottom{ font-family: "微软雅黑", arial, "宋体", sans-serif; text-align: center;}*/
.menu-bottom-wrap {
    height: 100%;
}

.menu-bottom .tab-link {
    -webkit-box-align: center;
    color: #979797;
}

.menu-bottom .tab-link.active {
    -webkit-box-align: center;
    color: #4da5f3;
}

.menu-bottom .icon-menu-1 {
    background-position: -0.08rem -0.1rem
}

.menu-bottom .icon-menu-2 {
    background-position: -1.38rem -0.04rem
}

.menu-bottom .icon-menu-3 {
    background-position: -2.75rem -0.04rem
}

.menu-bottom .icon-menu-4 {
    background-position: -3.92rem -0.1rem
}

.menu-bottom .active .icon-menu-1 {
    background-position: -0.08rem -0.99rem
}

.menu-bottom .active .icon-menu-2 {
    background-position: -1.38rem -0.93rem
}

.menu-bottom .active .icon-menu-3 {
    background-position: -2.75rem -0.93rem
}

.menu-bottom .active .icon-menu-4 {
    background-position: -3.92rem -0.99rem
}

/*----------UIIcon-----------*/
[m-icon] {
    background-color: transparent;
    background-image: url(images/UIIcon.png);
    background-size: 300px 60px;
}

/*----------UICheckBox-----------*/

[m-role='UICheckBox'].login-check {
    width: 25px;
    height: 25px;
    background: url(images/UIIcon.png) no-repeat;
    background-size: 300px 60px;
    background-color: transparent;
    background-position: -182px -33px;
    vertical-align: middle;
}

[m-role='UICheckBox'].login-check[m-checked='yes'] {
    background-color: transparent;
    background-position: -153px -33px;
}

[m-role='UISwitch'] {
    -webkit-border-radius: 12px;
    -webkit-box-shadow: none;
    overflow: hidden;
    height: 25px;
    width: 45px;
    position: relative;
    cursor: pointer;
    background-color: #efefef;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.UISwitchButton {
    width: 25px;
    top: 1px;
    left: 1px;
    bottom: 1px;
    background: #fff;
    -webkit-border-radius: 50%;
    position: absolute;
    z-index: 2
}

.UISwitchOn {
    position: absolute;
    width: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    -webkit-border-radius: 15px;
    background: #4cd964;
    -webkit-box-shadow: none;
}

.UISwitchOff {
    position: absolute;
    width: 100%;
    right: 0;
    height: 100%;
    overflow: hidden;
}
/*银行列表图标*/
.bank-logo {
    width: 0.6rem;
    height: 0.6rem;
    background: url(images/bank-logo.png) no-repeat;
    background-size: 4.2rem 3rem;
    overflow: hidden;
    /*transform:scale(0.3,0.3);*/
    /*-moz-transform:scale(0.3,0.3);*/
    /*-webkit-transform:scale(0.3,0.3);*/
    /*-o-transform:scale(0.3,0.3);*/
}
.bank-logo.bank-xjb{background-position: 0 0;}
.bank-logo.bank-cmb{background-position: -0.6rem 0;}
.bank-logo.bank-boc{background-position: -1.2rem 0;}
.bank-logo.bank-ccb{background-position: -1.8rem 0;}
.bank-logo.bank-icbc{background-position: -2.4rem 0;}
.bank-logo.bank-spdb{background-position: 0 -0.6rem;}
.bank-logo.bank-abc{background-position: -0.6rem -0.6rem;}
.bank-logo.bank-ceb{background-position: -1.2rem -0.6rem;}
.bank-logo.bank-bocom{background-position: -1.8rem -0.6rem;}
.bank-logo.bank-cmbc{background-position: -2.4rem -0.6rem;}
.bank-logo.bank-youchu{background-position: 0 -1.2rem;}
.bank-logo.bank-cgbc{background-position: -0.6rem -1.2rem;}
.bank-logo.bank-shb{background-position: -1.2rem -1.2rem;}
.bank-logo.bank-njcb{background-position: -1.8rem -1.2rem;}
.bank-logo.bank-hxb{background-position: -2.4rem -1.2rem;}
.bank-logo.bank-pingan{background-position: 0 -1.8rem;}
.bank-logo.bank-ecitic{background-position: -0.6rem -1.8rem;}
.bank-logo.bank-xy{background-position: -1.2rem -1.8rem;}
.bank-logo.bank-wzb{background-position: -1.8rem -1.8rem;}
.bank-logo.bank-bjb{background-position: -2.4rem -1.8rem;}
.bank-logo.bank-hzb{background-position: 0 -2.4rem;}
.bank-logo.bank-urcb{background-position: -0.6rem -2.4rem;}
.bank-logo.bank-nbcb{background-position: -1.2rem -2.4rem;}
.bank-logo.bank-czb{background-position: -1.8rem -2.4rem;}
.bank-logo.bank-ofdl{background-position: -2.4rem -2.4rem;}
.bank-logo.bank-alipay{background-position: -3rem -0px;}
.bank-logo.bank-tty{background-position: -3rem -0.6rem;}
.bank-logo.bank-unionpay{background-position: -3rem -1.2rem;}
.bank-logo.bank-srcb{background-position: -3.6rem -0rem;}
.bank-logo.bank-jhccb{background-position: -3.6rem -0.6rem;}


